.*.swp

CHANGELOG.html

*.o
*.a

config.*
INSTALL
install-sh
missing
mkinstalldirs
NEWS

autom4te.cache/
configure

config/config
config/system.mak

.build_lib
make.depend

include/flite_version.h
bin/
